<div class="block">
  <div class="display">
    <!--
    <div class="field">
      <div class="row" *ngFor="let row of matrix">
        <div class="cell" *ngFor="let cell of row" [style.background]=" cell.value === 1 ? '#a81717' : 'black'">

        </div>
      </div>

    </div>
    -->
    <div class="field">
      <canvas #myCanvas width="600" height="724"></canvas>
    </div>


    <div class="panel">
      <div class="lines">Lines: <span>{{countLine}}</span></div>

    </div>
  </div>

</div>
