
.block {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("../assets/background.gif");
}
.display {
  margin: auto  ;
  width: 600px;
  height: 800px;
  background: rgba(0, 0, 0, 0.49);
  display: flex;

  .field {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 16px;
    //border: 1px solid rgba(255, 255, 255, 0.5);
    .row {
      display: flex;
      .cell {
        width: 36px;
        height: 36px;

        color: white;
      }
    }
  }

  .panel {
    margin: 16px;

    .lines {
      font-size: 24px;
      color: white;
    }
  }
}
